<!DOCTYPE html>
<html>
<head>
  <title>ConcertoAudio</title>
  <%= stylesheet_link_tag    "concerto_audio/application", :media => "all" %>
  <%= javascript_include_tag "concerto_audio/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
